MYSQL_HOST=192.168.33.9
MAGENTO_HOST=192.168.33.10
RABBITMQ_HOST=192.168.33.5
MEMCACHED_HOST=192.168.33.4

MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASS=admin123
ADOBE_AUTH_KEY=9622dcf
ADOBE_AUTH_SECRET=21c13d4
